.working{
    text-align: center;
    margin: 0px 80px;
}

.working h1{
    font-weight: 700;
}

.working p{

    width: 900px;
    margin: 0px 100px;
    padding: 0px 10px;
    font-size: 17px;
}

.gridss{

    margin: 80px 0px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows:250px 250px;

    column-gap: 0px;
    row-gap: 0px;

    align-items: center;
    justify-content: center;

    /* border: 2px solid black; */
}

.gd{
    /* border: 2px solid black; */
    padding: 0px;
    width: 300px;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gd>p{
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}

.bgClass{
    background-color: #E8FBFF;
}